<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755379200261-uf8vh591j7inctvjjfu7fd3j7djtdbht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755379200261-uf8vh591j7inctvjjfu7fd3j7djtdbht</string>
	<key>API_KEY</key>
	<string>AIzaSyD5_Tzr9hLkYTNCRmCfTskwRYcmhe6gYRA</string>
	<key>GCM_SENDER_ID</key>
	<string>755379200261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siklabproject</string>
	<key>PROJECT_ID</key>
	<string>siklab-project</string>
	<key>STORAGE_BUCKET</key>
	<string>siklab-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755379200261:ios:244d0cb90ec7db152a576c</string>
</dict>
</plist>